
* {
    margin: 0;
    padding: 0;
}
.product {
    list-style-type: none;
    width: 260px;
    height: 300px;
    text-align: center;
    padding: 15px;
}

.product a {
    color: inherit;
    text-decoration:none;
}

.product:hover {
    background-color:rgb(204, 230, 255,0.3);
    
}

#carrossel {
    overflow: hidden;
    height: 350px;
    margin: 150px auto;
    background-color: white;
    display:flex;
    width: 2000px;
    left: -1289px;
    margin-left: 1289px;
    position: relative;
}
.container-carrossel{
    width: 1000px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.cursor-carrossel {
    background: url(../img/sprite-setas.png) no-repeat;
    width: 18px;
    height: 18px;
    margin-left: -8px;

    position: absolute;
    cursor: pointer;
}

.cursor-carrossel.next-carrossel{
    background-position: 0 -28px;
    top: 290px;
    right: 137px;
}

.cursor-carrossel.back-carrossel{
    top: 292px;
    left: 150px;
}

.container{
    margin-left: auto;
    margin-right: auto;
}
.price-color {
    color: #DC143C;
    font-weight: bold;
}
.oldPrice-color{
    font-weight: bold;
}

.bold-price {
    font-weight: bold;
}

strong.price {
    font-size: 21px;
}

